body{
    width: 280px;
    height: 280px;
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}
p{
    margin: auto 8px;
    font-size: medium;
    color: black;
    font-weight:600;
    padding:10px
}